#container{
    height:300px;
    display: flex;
    align-items: flex-end;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.bar{
    width: 30px;
    background-color: black;
    margin : 2px;
}